# Instantiated from helpers.py.tmpl.
# This file content is prepended to all python blocks
# Feel free to add your own helpers to helpers.py.
import json
import sys


def from_json():
    return json.load(sys.stdin)


def from_string():
    return sys.stdin.read()


def from_lines():
    for line in sys.stdin:
        yield line.rstrip()


def from_csv(delim=";", skip_header=False):
    first = True
    for line in sys.stdin:
        if not (skip_header and first):
            yield line.rstrip().split(delim)
        first = False
