alias grep="grep --color"

# The curl progress output is messed up in raw mode.
# Which causes problems when the input file changes after we start listening for keys in raw mode.
alias curl="curl -s"

alias git="git --no-pager"
